In [1]:
# dependecies and set up
import pandas as pd

# load files
schools_complete = "schools_complete.csv"
students_complete = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data= pd.read_csv(schools_complete)
student_data= pd.read_csv(students_complete)

# Combine the data into a single dataset.
school_data_completed = pd.merge(student_data, school_data, on = ["school_name","school_name"], how="left")
school_data_completed.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# total number of unique schools

school_count= len(school_data["school_name"].unique())
print(school_count)

15

In [3]:
# total students
total_students= school_data_completed["student_name"].count()
print(total_students)

39170

In [4]:
school_data["budget"].sum()

24649428

In [5]:
# total budget
total_budget = school_data["budget"].sum()
print(total_budget)

24649428

In [6]:
# average math score
Average_math_score = school_data_completed["math_score"].mean()
print(Average_math_score)

78.98537145774827

In [7]:
# average reading score
Average_reading_score = school_data_completed["reading_score"].mean()
print(Average_reading_score)

81.87784018381414

In [8]:
# % passing math with 70% (the percentage of students who passed math)
passing_math_count = school_data_completed[school_data_completed["math_score"] >= 70].count()["math_score"]
passing_math=passing_math_count/float(total_students)*100
passing_math

74.9808526933878

In [9]:
# % passing reading (the percentage of students who passed reading)
passing_reading_count = school_data_completed[school_data_completed["reading_score"] >= 70].count()["reading_score"]
passing_reading=passing_reading_count/float(total_students)*100                              
passing_reading

85.80546336482001

In [10]:
# % passing math & reading with 70% (the percentage of students who passed math & reading)
passing_math_and_reading_count = school_data_completed[(school_data_completed["reading_score"] >= 70) & (school_data_completed["math_score"] >= 70)].count()["student_name"]
passing_math_and_reading = passing_math_and_reading_count/float(total_students)*100

passing_math_and_reading

65.17232575950983

In [11]:
# Creating the District Summery 
District_Summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[total_students],"Total Budget":[total_budget],
                                "Average Math Score":[Average_math_score], "Average Reading Score":[Average_reading_score], "% Passing Math":[passing_math],
                                "% Passing Reading":[passing_reading],"% Overall Passing Rate":[passing_math_and_reading]})
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
# find school count

school_count = len(school_data_completed["school_name"].unique())
school_count

15

In [13]:
#School type
school_types = school_data.set_index(["school_name"])["type"]
school_types.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [14]:
#Total Students in each school
students_per_school = school_data_completed["school_name"].value_counts()
students_per_school.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [15]:
#Total School Budget
school_budget=school_data_completed.groupby(["school_name"])["budget"].mean()
school_budget.head()

school_name
Bailey High School      3124928
Cabrera High School     1081356
Figueroa High School    1884411
Ford High School        1763916
Griffin High School      917500
Name: budget, dtype: int64

In [16]:
#Per Student Budget
per_student_budget = school_budget/students_per_school
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
#Average Math Score per school
average_math_per_school = school_data_completed.groupby(["school_name"])["math_score"].mean()
average_math_per_school.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [18]:
#Average Reading Score per school
average_reading_per_school= school_data_completed.groupby(["school_name"])["reading_score"].mean()
average_reading_per_school.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [19]:
# % Passing Math per school
passing_math_per_school = school_data_completed.loc[school_data_completed["math_score"]>=70]
passing_math_per_school

#assign the math score by each school
math_score_by_school = passing_math_per_school["school_name"].value_counts()
math_score_by_school.head()

percent_math = math_score_by_school/students_per_school*100
percent_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: school_name, dtype: float64

In [20]:
# % Passing Reading per school
reading_score=school_data_completed.loc[school_data_completed["reading_score"]>=70]

#assign the reading score by each school
reading_score_by_school= reading_score["school_name"].value_counts()
reading_score_by_school.head()

#final percentage result
percent_reading=reading_score_by_school/students_per_school*100
percent_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: school_name, dtype: float64

In [40]:
# % Overall Passing Rate
overall = percent_math + reading_score / students_per_school
overall

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [39]:
#create a new DF of School_summary
school_summary_df = pd.DataFrame({"School Type":school_types, "Total Students":students_per_school, "Total School Budget":total_budget
                                ,"Per Student Budget":per_student_budget ,"Average Math Score" :average_math_per_school,
                             "Average Reading Score":average_reading_per_school,
                             "% Passing Math":passing_math_per_school, "% Passing Reading":reading_score,
                            "% Overall Passing Rate": overall})
school_summary_df.head()

NameError: name 'overall' is not defined

In [41]:
#Top Performing Schools (By Passing Rate)
TopSchool_df = school_summary_df.sort_values(["% Passing Math","% Passing Reading","% Overall Passing Rate" ], 
                                        ascending=False)
TopSchool_df.head()

NameError: name 'school_summary_df' is not defined

In [42]:
Bottomschools_df = school_summary_df.sort_values("% Overall Passing Rate")
Bottomschools_df.head()

NameError: name 'school_summary_df' is not defined

In [30]:
#Bottom Performing Schools 
Bottomschools_df.style.format({"Total School Budget":"${:,.2f}","Per Student Budget":"${:,.2f}"})

NameError: name 'Bottomschools_df' is not defined

In [43]:
#reading scores by grade
math_9th=student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])['math_score'].mean()
math_9th.head()
math_10th=student_data.loc[student_data["grade"] == "10th"].groupby(["school_name"])['math_score'].mean()
math_10th.head()
math_11th=student_data.loc[student_data["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
math_11th.head()
math_12th=student_data.loc[student_data["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()
math_12th.head()

#create a DF for Math Scores by Grade
math_by_grade=pd.DataFrame({"9th":math_9th, "10th": math_10th, "11th":math_11th, "12th":math_12th })
math_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [45]:
reading_9th = student_data.loc[student_data["grade"] == "9th" ].groupby(["school_name"])["reading_score"].mean()
reading_10th = student_data.loc[student_data["grade"] == "10th" ].groupby(["school_name"])["reading_score"].mean()
reading_11th = student_data.loc[student_data["grade"] == "11th" ].groupby(["school_name"])["reading_score"].mean()
reading_12th = student_data.loc[student_data["grade"] == "12th" ].groupby(["school_name"])["reading_score"].mean()

In [46]:
reading_by_grade=pd.DataFrame({"9th":read_9th,"10th":read_10th, "11th":read_11th, "12th":read_12th })
reading_by_grade

NameError: name 'read_9th' is not defined

In [47]:

type("School Size")

str